
# Nuxt DevTools
.nuxt
.output
.data
.nitro
.cache
.env

# Node modules
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS X
.DS_Store

# Editor
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
